.boxed-btn {
  background: #fff;
  color: #fb246a !important;
  display: inline-block;
  padding: 14px 36px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fb246a;
  letter-spacing: 3px;
  text-align: center;
  color: #fb246a;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3 ease-in;
}
.boxed-btn:hover {
  background: #fb246a;
  color: #fff !important;
  border: 1px solid #fb246a;
}
.boxed-btn:focus {
  outline: none;
}

.boxed-btn:hover {
  background: #fb246a;
  color: #fff !important;
  border: 1px solid #fb246a;
}
.boxed-btn:focus {
  outline: none;
}
