@import url("https://fonts.googleapis.com/css?family=Barlow:300,400,500,600,700,900|Muli:300,400,500,600,700,800,900&display=swap");
@import "@webpixels/css";
@import "ngx-toastr/toastr";
@import url("https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.4.0/font/bootstrap-icons.min.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f7f7f7;
  font-family: "Muli", sans-serif;
  font-weight: normal;
  font-style: normal;
}

.white-bg {
  background: #ffffff;
}
.gray-bg {
  background: #f5f5f5;
}
.gray-bg {
  background: #f7f7fd;
}
.white-bg {
  background: #fff;
}
.black-bg {
  background: #16161a;
}
.theme-bg {
  background: #fb246a;
}
.brand-bg {
  background: #f1f4fa;
}
.testimonial-bg {
  background: #f9fafc;
}
.white-color {
  color: #fff;
}
.black-color {
  color: #16161a;
}
.theme-color {
  color: #fb246a;
}

[data-overlay] {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
[data-overlay]::before {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  content: "";
}
[data-opacity="1"]::before {
  opacity: 0.1;
}
[data-opacity="2"]::before {
  opacity: 0.2;
}
[data-opacity="3"]::before {
  opacity: 0.3;
}
[data-opacity="4"]::before {
  opacity: 0.4;
}
[data-opacity="5"]::before {
  opacity: 0.5;
}
[data-opacity="6"]::before {
  opacity: 0.6;
}
[data-opacity="7"]::before {
  opacity: 0.7;
}
[data-opacity="8"]::before {
  opacity: 0.8;
}
[data-opacity="9"]::before {
  opacity: 0.9;
}

.default-select .nice-select .list .option {
  font-weight: 300;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  line-height: 28px;
  min-height: 28px;
  font-size: 12px;
  padding-left: 20px;
}
.default-select .nice-select .list .option.selected {
  color: #1f2b7b;
  background: transparent;
}
.default-select .nice-select .list .option:hover {
  color: #1f2b7b;
  background: transparent;
}
.default-select .current {
  margin-right: 50px;
  font-weight: 300;
}

.boxed-btn2 {
  background: #fb246a;
  color: #fff !important;
  display: inline-block;
  padding: 14px 36px;
  font-family: "Muli", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fb246a;
  letter-spacing: 3px;
  text-align: center;
  color: #fb246a;
  text-transform: uppercase;
  cursor: pointer;
}

/* Job Card*/

.single-job-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-job-items {
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-job-items {
  }
}
.single-job-items .company-img img {
  overflow: hidden;
  float: left;
  margin-right: 32px;
  z-index: 999;
}
@media (max-width: 767px) {
  .single-job-items .job-tittle {
  }
}
.single-job-items .job-tittle a h4 {
  color: #28395a;
  font-size: 24px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.single-job-items .job-tittle a h4:hover {
  color: #8b92dd;
}
.single-job-items .job-tittle ul li {
  display: inline-block;
  margin-right: 48px;
  font-size: 15px;
  color: #808080;
  line-height: 1.8;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-job-items .job-tittle ul li {
    margin-right: 18px;
  }
}
@media (max-width: 767px) {
  .single-job-items .job-tittle ul li {
    margin-right: 0px;
    margin-bottom: 7px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .single-job-items .job-tittle ul li {
    margin-right: 8px;
  }
}
.single-job-items .job-tittle ul li:last-child {
  margin-right: 0px;
}
.single-job-items .job-tittle ul li i {
  font-size: 14px;
  color: #bbbbbb;
  margin-right: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .single-job-items .job-tittle2 {
    padding-top: 25px;
  }
}
.single-job-items:hover {
  box-shadow: 0px 22px 57px 0px rgba(34, 41, 72, 0.05);
}
.single-job-items .job-items {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .items-link {
    padding-top: 35px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .items-link {
    padding-top: 35px;
    text-align: center;
  }
}
.items-link a {
  color: #8b92dd;
  display: block;
  border: 1px solid #8b92dd;
  border-radius: 30px;
  padding: 4px 33px;
  text-align: center;
  margin-bottom: 25px;
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .items-link a {
    padding: 4px 19px;
  }
}
.items-link a:hover {
  color: #fff;
  background: #8b92dd;
  border: 1px solid transparent;
}
.items-link span {
  color: #454d72;
  display: block;
}

.section-tittle h2 {
  color: #28395a;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .section-tittle h2 {
    font-size: 30px;
    line-height: 1.4;
    margin-bottom: 50px;
  }
}
.section-tittle span {
  color: #fb246a;
  text-transform: uppercase;
  margin-bottom: 28px;
  display: block;
}
.section-tittle.white-text h2 {
  color: #fff;
}
